﻿@{
    ViewBag.Title = "Home Page";
}

    <div class="content">
        <!-- ########## SAVOIR FAIRE ##########-->
        <!-- #region SAVOIR FAIRE -->
        <section>
            <div class="">
                <div class="container">
                    <div class="row">
                        <h2 id="savoirfaire">Notre savoir faire à votre service</h2>
                    </div>
                    <div class="row align-items-center">
                        <div class="over col no-padding">
                            <img src="~/Content/Picture/peinture.png" class="img-fluid" />
                            <div class="overlay">
                                <div class="text">UNE</div>
                            </div>
                        </div>
                        <div class="over col no-padding">
                            <img src="~/Content/Picture/ravalement de facade.png" class="img-fluid" />
                            <div class="overlay">
                                <div class="text">TEINTURE</div>
                            </div>
                        </div>
                        <div class="over col no-padding">
                            <img src="~/Content/Picture/parquet.png" class="img-fluid" />
                            <div class="overlay">
                                <div class="text">POIVRE ET SEL</div>
                            </div>
                        </div>
                        <div class="over col no-padding">
                            <img src="~/Content/Picture/faux plafond.png" class="img-fluid" />
                            <div class="overlay">
                                <div class="text">POUR VAL</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- #endregion -->
        <!-- ########## GALERIE ##########-->
        <!-- #region GALERIE -->
        <section>
            <div class="">
                <div class="galerie">
                    <div class="container">
                        <div class="row">
                            <h2 class="text-light" id="galerie">Galerie</h2>
                        </div>
                        <div id="carouselExampleFade" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="~/Content/Picture/chantier.png" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/Content/Picture/chantier.png" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/Content/Picture/chantier.png" class="d-block w-100" alt="...">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- #endregion -->
        <!-- ########## CONTACT US ##########-->
        <!-- #region CONTACT US -->
        <section>
            <div class="">
                <div class="container">
                    <div class="row">
                        <h2 id="contactus">Nous contacter</h2>
                    </div>
                    <form>
                        <div class="row">
                            <div class="col-md-5">
                                <label for="email">Votre email</label>
                                <input class="form-control" type="email" id="email" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <label for="name">Votre nom</label>
                                <input class="form-control" type="text" id="name" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <label for="name">Votre demande</label>
                                <textarea class="form-control form-control-lg"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!-- #endregion -->
    </div>
