﻿<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>@ViewBag.Title - Mon application ASP.NET</title>
            @Styles.Render("~/Content/css")
            @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="~/Content/Picture/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                    BC Peinture
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" href="#savoirfaire">Savoir faire</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#galerie">Galerie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contactus">Contacts</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="body-content">
            @RenderBody()
            <div class="container">
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Anthony CHIRON</p>
                </footer>
            </div>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
