﻿body {
    padding-top: 0px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.no-padding {
    padding:0;
}

h2 {
    margin-top : 2%;
    margin-bottom : 2%;
    margin-left : 1%;
}

.galerie {
    margin-top : 4%;
    padding-bottom : 5%;
    background-color: rgba(0, 0, 0, 0.7);
}

.wrapper-header {
    margin-bottom: 7%;
    max-height: 85%;
}

section {
    padding-top: 500px;
    margin-top: -300px;
}

.wrapper {
    max-height: 90%;
    margin-bottom : 3%;
}

.carousel {
    height: 70%;
}